*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding: 24px;
}
.txt{
    width: 100%;
    padding: 20px 0;
    margin-bottom: 2rem;
}
.txt i{
    font-size: 35px;
    color: teal;
}
/*  */
/*  */
.navbar-nav .nav-link {
    font-size: 1.1rem; 
    padding: 0.4rem 0.5rem;
}
.navbar-collapse {
    justify-content: flex-end;
}
.navbar-toggler {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
}
/*  */
/*  */
.Intro{
    width: 100%;
    padding: 20px 0;
    background-color: #141338;
}
.subIntro{
    min-height: 100vh;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-evenly;
}
.Intro-text{
    width: 600px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.Intro-text h1{
    font-size: 40px;
    color: white;
    font-family: "Raleway", sans-serif;
}
.Intro-text span{
    font-size: 50px;
    color: crimson;
    font-family: "Kablammo", system-ui;
    font-weight: 100;
}
.Intro-text h3{
    font-family: "Itim", cursive;
    /* font-family: "Rubik Wet Paint", system-ui; */
    color: #4ff74f;
    font-weight: 100;
}
.Intro-text p{
    font-size: 18px;
    color: #b4b4b4;
}
.Intro-icon i{
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    gap: 2rem;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: gainsboro;
}
.Intro-icon i:hover{
    background-color: gray;
}
.Intro-img{
    width: 320px;
    height: 370px;
    border-radius: 70px;
    overflow: hidden;
    background-color: azure;
}
.Intro-img img{
    width: 100%;
    height: 100%;
}
/*  */
/*  */
.About{
    width: 100%;
    background-color: #141338e9;
}
.about-section{
    width: 85%;
    min-height: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subAbout{
    width: 85%;
}
.subAbout p{
    padding: 20px;
    font-size: 20px;
    line-height: 1.5;
    color: white;
}
/*  */
/*  */
.Project{
    width: 100%;
    background-color: #3a4c80;
}
.project-section{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 2rem;
    min-height: 600px;
}
.swiper {
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.swiper-wrapper{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
}
.swiper-slide{
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    height: 100%;
}
.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*  */
/*  */
.Skill{
    width: 100%;
    background-color:#141328;
    padding-bottom: 30px;
}
.skill-section{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    min-height: 400px;
    margin: auto;
}
.subSkill{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
}
.skillBox{
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 10px;
}
.skillBox:hover{
    box-shadow: rgba(6, 253, 249, 0.979) 0px 10px 10px 0px, rgba(6, 253, 249, 0.979) 0px 0px 25px 10px;
}
.skillBox img{
    width: 100%;
    height: 100%;
}
/*  */
/*  */
.Contact{
    width: 100%;
    background-color: rgb(231, 254, 231);
}
.contact-section{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}
.subContact{
    background-color: whitesmoke;
    border: 1px solid gray;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 320px;
}
.subContact input{
    width: 100%;
    height: 40px;
    font-size: 16px;
}
.contact-form textarea{
    width: 100%;
    height: 120px;
    padding: 5px;
}
#myBtn{
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
}
#myBtn:hover{
    background-color: coral;
}
/*  */
/*  */
.footer{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
}
.footer p{
    font-size: 22px;
    color: black;
}

@media (max-width: 450px){
    /* *{
        background-color: aqua;
    } */
    .subIntro{
        flex-wrap: wrap;
        width: 90%;
    }
    .Intro-text p{
        text-align:center;    
    }
    .subAbout{
        text-align: center;
    }
    .subSkill{
        gap: 1rem;
        width: 90%;
    }
    .skillBox{
        width: 110px;
        height: 110px;
    }
    .contact-form{
        width: 300px;
    }
}